.businessBanking {
  background-image: url(../../../public/business_banking_bg_curve.svg);
  background-repeat: no-repeat;
  background-position: -400px 0;
  background-size: calc(100% * 2) 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(90% - 2rem);
  height: 100%;
  padding: 16rem calc(5% + 1rem) 32rem calc(5% + 1rem);
}

.businessBanking__oneLiner {
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.businessBanking__divider {
  display: block;
  background-color: var(--light-tree-green);
  width: 25px;
  height: 5px;
  margin: 1rem 0;
}

.businessBankingCard {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid hsla(227, 18%, 39.2%, 1);
  border-radius: 10px;
  padding: 3rem;
  width: 100%;
  max-width: 100%;
  background-image: url(../../../public/business_banking.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
}

.businessBankingCard__oneLiner {
  width: 60%;
  color: white;
  font-size: xx-large;
  font-weight: 500;
  margin-bottom: 2rem;
}

.businessBankingCard__logo {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  width: 168px;
  max-width: 100%;
}

.businessBankingCard__productName {
  display: inline;
  color: var(--secondary-color);
}

.businessBankingFeatures {
  list-style-type: none;
  padding-left: 1rem;
}

.businessBankingFeatures__feature {
  color: white;
  margin-bottom: 1rem;
}

.businessBankingFeatures__feature:before {
  content: "✓ ";
  color: var(--light-tree-green);
}
.businessBankingCard__btncontainer {
  padding: 1rem;
}

.businessBankingCard__btnlink {
  text-decoration: none;
}

.businessBankingCard__signupbtn {
  color: white;
  background-color: var(--secondary-color);
}

.businessBankingCard__transpbtn {
  color: var(--secondary-color);
  background: transparent;
}

.businessBankingCard_btn {
  padding: 1rem;
  margin-right: 1rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.businessBankingFunctionContainer {
  padding: 3rem 0;
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  justify-content: space-evenly;
  grid-column-gap: 2rem;
  -webkit-column-gap: 2rem;
  column-gap: 2rem;
  grid-row-gap: 2rem;
  row-gap: 2rem;
}

.businessBankingFunction {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid hsla(227, 18%, 39.2%, 1);
  border-radius: 10px;
  padding: 0 4rem 2rem 2rem;
  display: flex;
  justify-content: stretch;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.businessBankingFunction:hover {
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
  border: 1px solid var(--primary-color);
}

.businessBankingFunction::after {
  background-image: url(../../../public/business_banking_function_curve.svg);
  background-repeat: no-repeat;
  background-position: right bottom 10%;
  content: "";
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.businessBankingFunction:hover::after {
  opacity: 1;
}

.businessBankingFunction__header {
  height: 15%;
  color: white;
  font-size: x-large;
}
.businessBankingFunction__desc {
  color: gray;
}

.businessBankingFunction__link,
.businessBankingFunction__link:hover,
.businessBankingFunction__link:active,
.businessBankingFunction__link:visited,
.businessBankingFunction__link:focus {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-decoration: none;
  z-index: 1;
}

.businessBankingFunction__more {
  color: var(--secondary-color);
  margin-top: auto;
  font-weight: bold;
}
/* Desktop only */
@media only screen and (min-width: 1024px) {
}

/* Mobile and Tablet (i think?) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile only (i think?) */
@media only screen and (max-width: 767px) {
  .businessBanking {
    padding: 4rem 2rem;
    width: calc(100% - 4rem);
    height: calc(100% - 8rem);
    background-position: 0 0;
    background-size: calc(100% * 12) 100%;
  }
  .businessBanking__oneLiner {
    text-align: left;
  }
  .businessBankingCard {
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .businessBankingCard__oneLiner {
    width: 100%;
    font-size: larger;
  }
  .businessBankingCard__btncontainer {
    display: flex;
    flex-direction: column-reverse;
  }
  .businessBankingCard__signupbtn {
    width: 100%;
  }

  .businessBankingFunctionContainer {
    padding: 3rem 0;
  }
  .businessBankingFunction {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
  }
}
